<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="footerId">
<footer class="mx-5" id="footer">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <small class="d-block mb-3 text-muted" id="createdBy">&copy; 2019</small>
        </div>

    </div>
</footer>

<script th:src="@{~/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{~/webjars/bootstrap/js/4.3.1/js/bootstrap.min.js}"></script>
<!-- <script th:src="@{/webjars/bootstrap-confirmation2/4.1.0/dist/bootstrap-confirmation.js}"></script>-->
    <script th:src="@{~/js/bootstrapconfirmation.min.js}"></script>
 <script th:src="@{~/js/script.js}"></script>

    <!--data table-->
    <script src="/js/jquery.dataTables.min.js"
    th:src="@{~/webjars/datatables/1.10.19/media/js/jquery.dataTables.min.js}" ></script>
    <script src="/js/dataTables.bootstrap.min.js"
            th:src="@{~/webjars/datatables/1.10.19/media/js/dataTables.bootstrap.min.js}" ></script>
</div>

</body>
</html>