<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="UTF-8">
    <title>Edit Department</title>
</head>
<body>
<div id="nav"></div>
<div class="container">
    <div class="row">
        <div class="col">
           <div class="card">
               <div class="card-header">
                  <h5>Editing department</h5>
               </div>
               <div class="card-body">
                   <form method="post" id="saveDeptment" action="#" >
                       <input type="hidden" id="operation" name="operation">
                       <div class="form-group">
                           <label for="deptNo">Department No</label>
                           <input type="text" class="form-control" id="deptNo" placeholder="Enter Department No">
                       </div>
                       <div class="form-group">
                           <label for="deptName">Department Name</label>
                           <input type="text" class="form-control" id="deptName" placeholder="Enter Department Name">
                       </div>
                       <button type="submit" class="btn btn-primary">Submit</button>
                   </form>
               </div>
           </div>

        </div>
    </div>

</div>
<div id="footerId">
    Footer here
</div>
</body>
</html>